@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    cursor: default;
}

input {
    outline: none;
    padding-left: 5px;
}

input::placeholder {
    color: black;
}

input:hover {
    cursor: auto;
}

button {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 30px;
    color: white;
    background: rgb(33, 150, 243);
    background: linear-gradient(180deg, rgba(33, 150, 243, 1) 0%, rgba(30, 136, 229, 1) 100%);
    border-bottom: 1px solid hsl(216, 85%, 34%);
}

#wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
}

#projects-container {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    row-gap: 20px;
    justify-items: center;
    background-color: hsl(0, 0%, 98%);
    border-right: 1px solid hsl(216, 85%, 34%);
}

#projects-header {
    text-align: center;
    color: hsl(207, 90%, 61%);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-list {
    height: 400px;
    background-color: hsl(0, 0%, 98%);
    overflow-y: auto;
}

.project-tab {
    display: grid;
    grid-template-columns: 200px 30px 30px;
    grid-template-rows: 30px;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted hsl(207, 90%, 74%);
    transition: border 1s;
}

.project-tab:hover {
    cursor: pointer;
    border-bottom-style: solid;
}

.project-tab h3 {
    color: hsl(216, 85%, 34%);
    width: 200px;
    font-weight: 400;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project-tab h3:hover {
    cursor: pointer;
}

.project-tab button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: none;
    font-size: larger;
}

.edit-project {
    background-color: hsl(199, 94%, 94%);
    color: hsl(207, 90%, 54%);
    border: 1px solid hsl(207, 90%, 54%);
    transition: background-color 0.5s, color 0.5s;
}

.edit-project:hover {
    background-color: hsl(207, 90%, 54%);
    color: white;
    cursor: pointer;
}

.delete-project {
    background-color: hsl(351, 100%, 96%);
    color: hsl(340, 82%, 52%);
    border: 1px solid hsl(340, 82%, 52%);
    transition: background-color 0.5s, color 0.5s;
}

.delete-project:hover {
    background-color: hsl(340, 82%, 52%);
    color: white;
    cursor: pointer;
}

#new-project-button {
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border: 1px solid hsl(210, 79%, 46%);
    border-radius: none;
    background-color: hsl(205, 87%, 94%);
    color: hsl(210, 79%, 46%);
    transition: background-color 0.5s, color 0.5s;
}

#new-project-button:hover {
    cursor: pointer;
    background-color: hsl(207, 90%, 54%);
    color: white;
}

#todo-container {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: hsl(204, 15%, 94%);
}

#todo-header {
    text-align: center;
    color: hsl(207, 90%, 61%);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-list {
    height: 400px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: auto;
}

.todo-block {
    background-color: hsl(0, 0%, 98%);
    margin: 10px;
    width: 150px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons-todo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.todo-block button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: none;
    font-size: larger;
}

.todo-block h4 {
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.todo-description {
    color: hsl(199, 18%, 33%);
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.todo-due-date {
    text-align: center;
    color: hsl(199, 18%, 33%);
    width: 100%;
}

.notes-todo {
    background-color: hsl(199, 94%, 94%);
    color: hsl(207, 90%, 54%);
    border: 1px solid hsl(207, 90%, 54%);
    transition: background-color 0.5s, color 0.5s;
}

.notes-todo:hover {
    background-color: hsl(207, 90%, 54%);
    color: white;
    cursor: pointer;
}

.status-todo {
    background-color: hsl(125, 39%, 94%);
    color: hsl(122, 39%, 49%);
    border: 1px solid hsl(122, 39%, 49%);
    transition: background-color 0.5s, color 0.5s;
}

.status-todo:hover {
    background-color: hsl(122, 39%, 49%);
    color: white;
    cursor: pointer;
}

.delete-todo {
    background-color: hsl(351, 100%, 96%);
    color: hsl(340, 82%, 52%);
    border: 1px solid hsl(340, 82%, 52%);
    transition: background-color 0.5s, color 0.5s;
}

.delete-todo:hover {
    background-color: hsl(340, 82%, 52%);
    color: white;
    cursor: pointer;
}

#new-todo-button {
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border: 1px solid hsl(210, 79%, 46%);
    border-radius: none;
    background-color: hsl(205, 87%, 94%);
    color: hsl(210, 79%, 46%);
    transition: background-color 0.5s, color 0.5s;
}

#new-todo-button:hover {
    cursor: pointer;
    background-color: hsl(207, 90%, 54%);
    color: white;
}


/* Modals */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

#todo-notes-modal-content {
    grid-template-rows: 30px 1fr 30px 30px;
}

.modal-heading {
    text-align: center;
    height: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal-buttons button {
    width: 70px;
    padding: 5px;
}